.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.context-menu-error {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-padding: 0;
}

.context-menu-error:hover {
  -fx-background-color: red;
  -fx-text-fill: white;
}

.context-menu-error *:hover {
  -fx-background-color: red;
  -fx-text-fill: white;
}

.context-menu-error *:focused {
  -fx-background-color: red;
  -fx-text-fill: white;
}

.menu-item-error .label {
  -fx-text-fill: white;
}

.menu-item-error:focused .label {
  -fx-text-fill: white;
}

